[Desktop Entry]
Version=1.0
Name=About This PC
Comment=About This PC [[APPVERSION]] by [[AUTHOR]].
Terminal=false
Type=Application
Exec=AboutThisPC
Categories=Utility;

X-Author=[[AUTHOR]]
X-AppVersion=[[APPVERSION]]

Icon=AboutThisPC